.footer {
  width: 100%;
  padding: 25px 0;
  background: linear-gradient(135deg, #f3e8ff, #ede7f6);
  text-align: center;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-top: 40px;
  animation: fadeIn 1s ease-in-out;
}

.social-icons {
  margin: 10px;
}

.social-icon a {
  color: #af0af5;
  margin: 10px;
  font-size: 1.6rem;
}

.social-icon a:hover {
  color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
  background-color: blue;
  transform: translateY(-8px) scale(1.15);
  transition: transform 5s ease, color 0.3s ease;
}

.footer p {
  color: #000;
  font-style: italic;
  font-size: medium;
  font-family: "Open sans";
}

.footer p:hover {
  color: #0aaaf4;
  font-size: 1rem;
  padding: 5px;
  margin: 10px;
  letter-spacing: 0.5px;
  font-family: "Shadows Into Light", cursive;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
