.node-map-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin:10px auto ;
  padding: 0;
  max-width: 800px;
  background: radial-gradient(
    circle at center,
    #f3e8ff 0%,
    #ede7f6 40%,
    #f9f7fc 100%
  );
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.node {
  position: absolute;
  text-align: center;
  cursor: pointer;
  animation: floatNode 4s ease-in-out infinite, fadeInNode 0.8s forwards;
  opacity: 0;
  transition: transform 0.4s, box-shadow 0.4s;
}

.node:hover {
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(155, 89, 182, 0.7);
}

.icon {
  font-size: 2rem;
  color: white;
  background: linear-gradient(135deg, #8e44ad, #9b59b6);
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 0 15px rgba(167, 8, 236, 0.7);
}

.label {
  margin-top: 8px;
  font-weight: 600;
  font-family: "Shadows Into Light", cursive;
  color: #000;
}

/* Node floating animation */
@keyframes floatNode {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Fade in */
@keyframes fadeInNode {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
